urllib3
iso8601
Flask_Cors
requests
pypresence
valclient
pystray
pyperclip
cursor
psutil
Flask
InquirerPy
Pillow
PyInstaller
websockets
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
